.container {
    display: flex;
    justify-content: space-between;
    gap: 2%; 
    padding: 0 5%; 
    width: 100%; 
    box-sizing: border-box; 
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f7f7;
    gap: 1%;
    flex: 1;
    padding-left: 5%;
}

.benefit-item {
    padding: 10px;
    box-shadow: none;
    flex: 0 0 90%;
}

.benefit-item h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #373737;
}

.benefit-item p {
    font-size: 1rem;
    color: #6D6D6D;
}

.divider {
    height: 1px; 
    background-color: #585858;
    width: 100%; 
}


.benefitwithus {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: transparent;
    align-self: flex-start;
    height: 100%;
    flex-direction: column; 
}

.benefit-image {
    width: auto; 
    height: 350px;
    margin-top: 20px;
    object-fit: contain; 
    border-radius: 10px; 
    margin-left: 0; 
}

.cta {
    
    padding: 0;
    text-align: left; 
}

.cta h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #443EDE; 
}

.cta p {
    font-size: 1.2rem;
    color: #6D6D6D;
}

.start-learn-btn {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35px; 
    transition: background-color 0.3s ease;
}


.start-learn-btn:hover {
    background-color: #004085;
}
